.title {
    text-align: center;
}


.line {
    text-align: center;
}
body {
    border: 3px solid;
    background-color: silver;
}

.list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    
}  
  li {
    margin-right: 50px;
  } 

.iconos {
    margin-right: 10px;
    height: 30px;
    width: 30px;
}

.Encabezado {
border-color: black;
border-style: solid;
border-width: medium;
border: solid #000 2px;

}
.Hola {
    width: 200px;
     margin-left: 15px;
     margin-right: 15px;
     height: 2px;
     background-color: #000;
}
.hr1 {
    display: flex;
    align-items: center;
    justify-content: center;
}
.circle {
    fill: none;
    stroke: black;
    stroke-width: 10;
    transform-origin: 50%;
    stroke-dasharray: var(--porcentaje)100;
    transform: rotate(-90deg);
}
@keyframes llenar1{
to{
    stroke-dasharray: 70 100;
}
}
.fondo1 {
stroke: grey;
stroke-dasharray: 0 100;
animation: llenar1 1s linear forwards ;

}

@keyframes llenar2{
    to{
        stroke-dasharray: 60 100;
    }
}
.fondo2 {
    stroke: gray;
    stroke-dasharray: 0 100;
    animation: llenar2 1s linear forwards;
}
@keyframes llenar3{
    to{
        stroke-dasharray: 55 100;
    }
}
.fondo3 {
    stroke: gray;
    stroke-dasharray: 0 100;
    animation: llenar3 1s linear forwards;
}
@keyframes llenar4{
    to{
        stroke-dasharray: 90 100;
    }
}
.fondo4 {
    stroke: gray;
    stroke-dasharray: 0 100;
    animation: llenar4 1s linear forwards;
}
@keyframes llenar5{
    to{
        stroke-dasharray: 75 100;
    }
}
.fondo5 {
    stroke: gray;
    stroke-dasharray: 0 100;
    animation: llenar5 1s linear forwards;
}

.graficos{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:120px;
}
.Line{
    height: 2px;
    background-color: #000;
}
.circle span {
   position: absolute;
   top: 0%;
   left: 0%;
   bottom: 0%;
   right: 0%; 
   display: flex;
   align-items: center;
   justify-content: center;
    transform: rotate(90deg);
}
.Items {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    justify-content: space-between;
    justify-content: space-around;
    justify-items: center;
}
.name {
    position: absolute;
    left: 483px;
}
.name1 {
    position: absolute;
    right: 482px;
}
.name2 {
    position: absolute;
    right: 250px;
}
.name3 {
    position: absolute;
    left: 249px;
}
.name4 {
    position: absolute;
    left: 720px;
}
.fotocv{
   position: absolute;
   top: 450px;
   right: 30px;
}

.Line8{
    transform: rotate(90deg);
  width: 250px;
  border: 2px solid;

}
.Line7 {
   
  display: flex;
  align-items: center;
  justify-content: center;

}
.contenedor{
    display: flex;
}

.move1 {
    position: absolute;
    right: 250px;
    margin-top: -160px;
    gap: 100px;
}
.move2 {
    position: absolute;
    right: 250px;
    margin-top: -80px; 
}
.MOVE{
    display: flex;
    justify-content: space-around;
}
.word {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 880px;
    margin-top: -217px;
    right: 260px;
    margin-right: 2px solid;
}
